.dash-container{
    height: 220vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.black-overlay-dash {
    width: 100%; 
    height: 100%;
    position: absolute;
    max-width: 780px;
    max-height: 300px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    background-color: Black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 75%;
    z-index: 2;
    margin-right: 400px;
}

.dash-title{
    font-family: 'Bangers', sans-serif;
    font-size: 70px;
    padding-top: 15px;
}

.dash-logout-button{
    background-color: #D46531;
    margin-right: 40px;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
    transition: all 0.3s ease;
    margin: 30px;
    z-index: 3;
}

.dash-logout-button:hover{
    background-color: white;
    color: black; 
}

.black-overlay-favs {
    width: 100%; 
    height: 100%;
    position: absolute;
    max-width: 780px;
    max-height: 270px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    background-color: Black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 33%;
    z-index: 2;
    align-items: center;
    justify-content: center;
    margin-right: 400px;
}

.dash-title-favs{
    font-family: 'Bangers', sans-serif;
    font-size: 70px;
    padding-top: 0px;
}

.fav-game-title{
    font-family: 'Bangers', sans-serif;
    font-size: 50px;
    color: #D46531;
}

.black-overlay-noti {
    width: 100%; 
    height: 100%;
    position: absolute;
    max-width: 380px;
    max-height: 605px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    background-color: Black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 55%;
    margin-left: 800px;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.dash-title-noti{
    font-family: 'Bangers', sans-serif;
    font-size: 60px;
    padding-top: 0px;
}

.black-overlay2 {
    width: 100%; 
    height: 100%;
    position: absolute;
    max-width: 1400px;
    max-height: 1700px;
    padding: 20px;
    border: 1px solid #D46531;
    box-shadow: 0 4px 8px black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.dash-header{
    font-size: 30px;
}

.dash-review-list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 50%;
    margin-left: 5rem;
    margin-right: 5rem;
    z-index: 99;
    overflow-y: auto;
}

.dash-review-list-title{
    font-family: 'Bangers', sans-serif;
    font-size: 60px;
    text-align: center;
}

.dash-review-list-title-none{
    font-family: 'Bangers', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 50%;
}

.dash-review-number{
    color: #D46531;
  }

.dash-review-ratings{
    color: #D46531;
  }
  
.review-ids{
  text-align: center;
}

.review-delete-button{
    background-color: #D46531;
    margin-right: 40px;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Bangers', sans-serif;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 10px;
    position: relative;
}

.review-delete-button:hover{
    background-color: white;
    color: black; 
}

.review-edit-button{
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Bangers', sans-serif;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 10px;
    position: relative;
}

.review-edit-button:hover{
    background-color: #D46531;
    color: black; 
}

.dash-review-form{
    margin-top: 65%;
    width: 100%;
    margin-left: 27%;
    height: 100%;
    max-height: 500px;
    z-index: 99;
}