.home-center-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}


.black-overlay {
    width: 100%; 
    height: 100%;
    position: absolute;
    max-width: 1400px;
    max-height: 1300px;
    padding: 20px;
    border: 1px solid #D46531;
    box-shadow: 0 4px 8px black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    z-index: 1;
}

.home-title{
    font-family: 'Bangers', sans-serif;
    font-size: 70px;
}

.home-signup-button{
    background-color: #D46531;
    margin-right: 40px;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
    transition: all 0.3s ease;
    margin: 50px;
}

.home-signup-button:hover{
    background-color: white;
    color: black; 
}

.home-header{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.home-logo{
    height: auto;
    width: 1000px;
}