.noti-div{
    align-items: center;
    text-align: center;
    display: grid;
}

.noti-header{
    font-size: 25px;
}

.noti-button{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
    background-color: #D46531;
    margin-right: 10px;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Bangers', sans-serif;
    transition: all 0.3s ease;
    z-index: 3;
}

.noti-button:hover{
    background-color: white;
    color: black; 
}

.noti-list{
    height: 100%;
    max-height: 370px;
    color: #D46531;
    overflow-y: auto;
}

.noti-count-h3{
    color: #D46531;
}